<div id="public-user" class="container">

  <div class="row">
    <div class="col-xs-12">
      <h4>{{user.name}} profile</h4>
      <br>
      <p>{{user.email}}</p>
      <p>{{user.full_name}}</p>
      <p>{{user.city}}</p>
      <p>{{user.state}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>{{user.name}}'s books:</h4>
      <br>
    </div>
  </div>

</div>
